/* Start by inspecting https://eva.fing.edu.uy/ and copying classes, id's, selectors to then update their styling */

/* As an example this adds some text on the footers page */

.popover-body div.footer-section:nth-child(3) div::after {
    content: "You are using InkFing";
    display: block;
    color: var(--inkFing-secondary);
}

.popover-header {
    background-color: var(--inkFing-background-100) !important;
    border-color: var(--inkFing-background-300) !important;
}

* {
    scrollbar-color: var(--inkFing-secondary) var(--inkFing-background-300) !important;
}

.courseindex-link[aria-selected="true"] {
    color: var(--inkFing-primary) !important;
}

.courseindex .courseindex-item.pageitem>a {
    color: var(--inkFing-primary) !important;
}

.drawer-toggles .drawer-toggler .btn {
    background-color: var(--inkFing-background-300) !important;
    color: var(--inkFing-primary) !important;
}

.dimmed_text,
.usersuspended,
.dimmed_category {
    color: var(--inkFing-secondary) !important;
}

.notification-area,
.notification-area .control-area {
    border-color: var(--inkFing-background-300) !important;
}

.border-right,
.border-end {
    border-color: var(--inkFing-background-300) !important;
}

.text-danger {
    color: var(--inkFing-color-tiger) !important;
}

.text-info {
    color: var(--inkFing-color-cyan) !important;
}

.text-muted {
    color: var(--inkFing-primary) !important;
}

.block .block-cards span.categoryname,
.block .block-cards .btn-link {
    color: var(--inkFing-secondary) !important;
}

.alert-info .btn-close {
    color: var(--inkFing-primary) !important;
}

.btn.btn-icon.icons-collapse-expand {
    background-color: transparent !important;
}

.btn.btn-icon.icons-collapse-expand>span {
    color: var(--inkFing-primary) !important;
}

.btn.btn-icon.icons-collapse-expand:hover,
.btn.btn-icon.icons-collapse-expand:focus,
.btn.btn-icon.icons-collapse-expand:hover>span,
.btn.btn-icon.icons-collapse-expand:focus>span {
    outline-color: var(--inkFing-secondary) !important;
    color: var(--inkFing-background-100) !important;
}

a[style*="color: rgb(255, 255, 255)"] {
    background-color: transparent !important;
}

.mform fieldset {
    border-color: var(--inkFing-background-300) !important;
}

.userpicture {
    border-radius: 100% !important;
}

.notification-area .content-area .header .timestamp {
    color: var(--inkFing-secondary) !important;
}

.modal-header>.btn-close {
    color: var(--inkFing-primary) !important;
}

.calendar_event_course {
    background-color: var(--inkFing-background-200) !important;
}

.modal-content {
    background-color: var(--inkFing-background-100) !important;
}

div.eva_botonera:nth-child(3)>a>img {
    width: 200px;
    height: 171px;
}

.fing-btn-login {
    color: var(--inkFing-primary) !important;
}

.popover-region-header-container {
    border-color: transparent;
}

.onetopic-tab-body {
    background-color: var(--inkFing-background-100) !important;
}

.format-onetopic .onetopic-withsectionbg .course-section,
.format-onetopic .onetopic-withsubsectionbg .course-section {
    background-color: var(--inkFing-background-100) !important;
}

.content-item-container.selected {
    border-color: var(--inkFing-link) !important;
    background-color: var(--inkFing-link) !important;
}

.popover-region-footer-container {
    border-color: var(--inkFing-background-200) !important;
    background-color: var(--inkFing-background-300) !important;
}

.content-item-container {
    border-color: var(--inkFing-background-300) !important;
}

.all-notifications>div:hover,
.all-notifications>div:focus {
    background-color: var(--inkFing-background-100) !important;
}

.popover {
    background-color: var(--inkFing-background-200) !important;
    color: var(--inkFing-primary) !important;
    border-color: var(--inkFing-background-300) !important;
}

.popover-region-container {
    background-color: var(--inkFing-background-200) !important;
    border-color: var(--inkFing-background-300) !important;
    color: var(--inkFing-primary) !important;
}

.normal-icon {
    color: var(--inkFing-primary) !important;
}

button[data-action="close-notification-popover"] {
    color: var(--inkFing-primary) !important;
}

.popover.footer .popover-body .footer-section a .icon {
    color: var(--inkFing-primary) !important;
}

.popover-body {
    color: var(--inkFing-primary) !important;
}

.popover.footer .popover-body .footer-section a {
    color: var(--inkFing-link) !important;
}

.arrow {
    display: none !important;
}

.bg-secondary {
    background-color: var(--inkFing-background-200) !important;
    color: var(--inkFing-background-300) !important;
}

.border-bottom {
    border-color: var(--inkFing-background-300) !important;
}

body {
    background-color: var(--inkFing-background-100) !important;
    color: var(--inkFing-primary) !important;
}

.login-container {
    background-color: var(--inkFing-background-200) !important;
    border: 1px solid var(--inkFing-background-300) !important;
    box-shadow: none;
}

.pagelayout-login #page {
    background-color: var(--inkFing-background-100) !important;
    background-image: none !important;
}

nav.navbar.fixed-top {
    background-color: var(--inkFing-background-200) !important;
    border-color: var(--inkFing-background-300) !important;
}

#page.drawers .main-inner {
    background-color: var(--inkFing-background-100) !important;
}

#region-main {
    background-color: var(--inkFing-background-100) !important;
}

.path-mod .activity-header:not(:empty) {
    background-color: var(--inkFing-background-200) !important;
}

table.quizreviewsummary td.cell {
    background-color: transparent !important;
}

.que .formulation {
    background-color: var(--inkFing-background-100) !important;
    border-color: var(--inkFing-background-200) !important;
    color: var(--inkFing-primary) !important;
}

.que .info {
    background-color: var(--inkFing-background-100) !important;
    border-color: transparent !important;
}

.que.ddwtos .group1 {
    background-color: var(--inkFing-background-200) !important;
    border-color: var(--inkFing-background-300) !important;
}

.que.ddwtos .drop:focus,
.que.ddwtos .drop.valid-drag-over-drop,
.que.ddwtos .draghome.placed:focus:not(.beingdragged),
.que.ddwtos .draghome.placed.valid-drag-over-drop {
    box-shadow: 0 0 5px 2px var(--inkFing-primary) !important;
}

.path-mod-quiz #mod_quiz_navblock .qnbutton.blocked,
.path-mod-quiz #mod_quiz_navblock .qnbutton.blocked .trafficlight,
.path-mod-quiz #mod_quiz_navblock .qnbutton.complete,
.path-mod-quiz #mod_quiz_navblock .qnbutton.complete .trafficlight,
.path-mod-quiz #mod_quiz_navblock .qnbutton.answersaved,
.path-mod-quiz #mod_quiz_navblock .qnbutton.answersaved .trafficlight,
.path-mod-quiz #mod_quiz_navblock .qnbutton.requiresgrading,
.path-mod-quiz #mod_quiz_navblock .qnbutton.requiresgrading .trafficlight {
    background-color: var(--inkFing-background-100) !important;
}

.path-mod-quiz .qnbutton {
    background-color: var(--inkFing-background-100) !important;
}

.coursebox a {
    color: var(--inkFing-link) !important;
}

.coursebox a:focus {
    background-color: var(--inkFing-link) !important;
    color: var(--inkFing-background-200) !important;
    box-shadow: none !important;
    outline: none !important;
}

pre {
    color: var(--inkFing-primary) !important;
}

td[bgcolor="#f5f6f7"] {
    background-color: var(--inkFing-background-100) !important;
}

td[bgcolor="#ffd4f4"] {
    background-color: var(--inkFing-color-tiger) !important;
    color: var(--inkFing-background-100) !important;
}

td[bgcolor="#fbeeb8"] {
    background-color: var(--inkFing-color-yellow) !important;
    color: var(--inkFing-background-100) !important;
}

td[bgcolor="#bfedd2"] {
    background-color: var(--inkFing-color-lime) !important;
    color: var(--inkFing-background-100) !important;
}

td[bgcolor="#f8cac6"] {
    background-color: var(--inkFing-color-sunset) !important;
    color: var(--inkFing-background-100) !important;
}

td[bgcolor="#c2e0f4"] {
    background-color: var(--inkFing-color-pink) !important;
    color: var(--inkFing-background-100) !important;
}

td[bgcolor="#ced4d9"] {
    background-color: var(--inkFing-color-violet) !important;
    color: var(--inkFing-background-100) !important;
}

td[bgcolor="#ced4d9"] a {
    background-color: var(--inkFing-background-100) !important;
    color: var(--inkFing-link) !important;
}

td[bgcolor="#ffe3c2"] {
    background-color: var(--inkFing-color-sky) !important;
    color: var(--inkFing-primary) !important;
}

td[bgcolor="#eccafa"] {
    background-color: var(--inkFing-color-magenta) !important;
    color: var(--inkFing-background-100) !important;
}

td[bgcolor="#c7f2c7"] {
    background-color: var(--inkFing-color-neon) !important;
    color: var(--inkFing-background-100) !important;
}

td[bgcolor="#c2e0f4"] {
    background-color: var(--inkFing-color-pink) !important;
    color: var(--inkFing-background-100) !important;
}

td[bgcolor="#d9eef2"] {
    background-color: var(--inkFing-color-cyan) !important;
    color: var(--inkFing-primary) !important;
}

td[bgcolor="#d9eef2"] a {
    background-color: var(--inkFing-background-100) !important;
    color: var(--inkFing-link) !important;
}


tr[style*="background-color: #d9d9d9;"] {
    background-color: var(--inkFing-background-300) !important;
    color: var(--inkFing-primary) !important;
}

td[style*="background-color: #eeeeee;"] {
    background-color: var(--inkFing-background-300) !important;
    color: var(--inkFing-primary) !important;
}

*[style*="background-color: #fafedb;"],
*[style*="background: #fafedb;"] {
    background-color: var(--inkFing-background-200) !important;
    color: var(--inkFing-primary) !important;
}

*[style*="background-color: #fedbdb;"],
*[style*="background: #fedbdb;"] {
    background-color: var(--inkFing-color-tiger) !important;
    color: var(--inkFing-primary) !important;
}

*[style*="background-color: #dbeafe;"],
*[style*="background: #dbeafe;"] {
    background-color: var(--inkFing-color-cyan) !important;
    color: var(--inkFing-primary) !important;
}

*[style*="background-color: #e1fedb;"],
*[style*="background: #e1fedb;"] {
    background-color: var(--inkFing-color-lime) !important;
    color: var(--inkFing-primary) !important;
}

*[style*="background-color: #fadbfe;"],
*[style*="background: #fadbfe;"] {
    background-color: var(--inkFing-color-sunset) !important;
    color: var(--inkFing-primary) !important;
}

*[style*="background-color: #dbf7fe;"],
*[style*="background: #dbf7fe;"] {
    background-color: var(--inkFing-color-aqua) !important;
    color: var(--inkFing-primary) !important;
}

*[style*="background-color: #fdf5ab;"],
*[style*="background: #fdf5ab;"] {
    background-color: var(--inkFing-color-yellow) !important;
    color: var(--inkFing-primary) !important;
}

*[style*="background-color: #978bff;"],
*[style*="background: #978bff;"] {
    background-color: var(--inkFing-color-violet) !important;
    color: var(--inkFing-primary) !important;
}

*[style*="background-color: #dbfedd;"],
*[style*="background: #dbfedd;"] {
    background-color: var(--inkFing-color-neon) !important;
    color: var(--inkFing-primary) !important;
}

*[style*="background-color: #d0abfd;"],
*[style*="background: #d0abfd;"] {
    background-color: var(--inkFing-color-magenta) !important;
    color: var(--inkFing-primary) !important;
}

*[style*="background-color: #fdabab;"],
*[style*="background: #fdabab;"] {
    background-color: var(--inkFing-color-pink) !important;
    color: var(--inkFing-primary) !important;
}

*[style*="background-color: #c2fdab;"],
*[style*="background: #c2fdab;"] {
    background-color: var(--inkFing-color-sky) !important;
    color: var(--inkFing-primary) !important;
}

*[style*="background-color: #abf1fd;"],
*[style*="background: #abf1fd;"] {
    background-color: var(--inkFing-color-indigo) !important;
    color: var(--inkFing-primary) !important;
}

*[style*="background-color: rgb(255, 248, 220);"],
*[style*="background:rgb(255, 248, 220);"],
*[style*="background-color: #fff8dc;"],
*[style*="background: #fff8dc;"] {
    background-color: var(--inkFing-color-yellow) !important;
    color: var(--inkFing-background-100) !important;
    border: none !important;
}

*[style*="background-color: rgb(230, 244, 255);"],
*[style*="background: rgb(230, 244, 255);"],
*[style*="background-color: #e6f4ff;"],
*[style*="background: #e6f4ff;"] {
    background-color: var(--inkFing-background-100) !important;
    color: var(--inkFing-primary) !important;
    border: none !important;
}

*[style*="background-color: rgb(242, 249, 255);"],
*[style*="background: rgb(242, 249, 255);"],
*[style*="background-color: #f2f9ff;"],
*[style*="background: #f2f9ff;"] {
    background-color: var(--inkFing-background-100) !important;
    color: var(--inkFing-primary) !important;
    border: none !important;
}

*[style*="background-color: rgb(255, 239, 227);"],
*[style*="background: rgb(255, 239, 227);"],
*[style*="background-color: rgb(255, 249, 245);"],
*[style*="background: rgb(255, 249, 245);"],
*[style*="background-color: #ffefe3;"],
*[style*="background: #ffefe3;"],
*[style*="background-color: #fff9f5;"],
*[style*="background: #fff9f5;"] {
    background-color: var(--inkFing-color-tiger) !important;
    color: var(--inkFing-background-100) !important;
    border: none !important;
}

*[style*="background-color: #c2e0f4;"],
*[style*="background: #c2e0f4;"] {
    background-color: var(--inkFing-color-sky) !important;
    color: var(--inkFing-primary) !important;
    border: none !important;
}

*[style*="background-color: #ecf0f1;"],
*[style*="background: #ecf0f1;"] {
    background-color: var(--inkFing-background-200) !important;
    color: var(--inkFing-primary) !important;
    border: none !important;
}

*[style*="background-color: #e4f6ff;"],
*[style*="background: #e4f6ff;"] {
    background-color: var(--inkFing-color-sky) !important;
    color: var(--inkFing-primary) !important;
    border: none !important;
}

*[style*="background-color: #ced4d9;"],
*[style*="background: #ced4d9;"] {
    background-color: var(--inkFing-color-lime) !important;
    color: var(--inkFing-primary) !important;
    border: none !important;
}




.activity.subsection>.activity-item {
    border-color: transparent;
}

.coursebox {
    border-color: var(--inkFing-background-300) !important;
    background-color: var(--inkFing-background-200) !important;
}

#yui_3_18_1_1_1772586131442_12 {
    color: var(--inkFing-primary);
}

#message-user-button {
    color: var(--inkFing-link) !important;
}

#message-user-button>i {
    color: var(--inkFing-link) !important;
}

.btn-primary {
    background-color: var(--inkFing-link) !important;
    border-color: var(--inkFing-link) !important;
    color: var(--inkFing-primary) !important;
}

.btn-secondary {
    border-color: var(--inkFing-background-300) !important;
    background-color: var(--inkFing-background-200) !important;
    color: var(--inkFing-primary) !important;
}

.btn-secondary:focus {
    background-color: var(--inkFing-background-100) !important;
    color: var(--inkFing-primary) !important;
}

.alert-primary {
    background-color: var(--inkFing-background-200) !important;
    color: var(--inkFing-primary) !important;
    border-color: var(--inkFing-background-300) !important;
}

.course-section .section-item {
    border-color: transparent !important;
}

.dropdown-menu {
    background-color: var(--inkFing-background-200) !important;
    border-color: var(--inkFing-background-300) !important;
}

.dropdown-menu a {
    color: var(--inkFing-primary) !important;
}

.dropdown-menu a:hover {
    background-color: var(--inkFing-background-100) !important;
}

.dropdown-menu a:focus {
    background-color: var(--inkFing-background-100) !important;
}

.simplesearchform .collapse.show,
.simplesearchform .collapsing {
    background-color: var(--inkFing-background-200) !important;
}

.drawer {
    background-color: var(--inkFing-background-100) !important;
}

.drawertoggle {
    color: var(--inkFing-primary) !important;
}

nav.navbar.fixed-top .login a {
    background-color: transparent !important;
    color: var(--inkFing-primary) !important;
}

.form-control {
    background-color: var(--inkFing-background-100) !important;
    color: var(--inkFing-primary) !important;
    border-color: var(--inkFing-background-300) !important;
}

.form-control:focus {
    color: var(--inkFing-primary) !important;
}

.close,
.btn-close {
    text-shadow: none !important;
}

.simplesearchform .btn-submit {
    background-color: var(--inkFing-background-100) !important;
    color: var(--inkFing-primary) !important;
    border-color: var(--inkFing-background-300) !important;
}

.progress-text {
    color: var(--inkFing-secondary) !important;
}

.card {
    background-color: var(--inkFing-background-100) !important;
    border: 1px solid var(--inkFing-background-300) !important;
}

.card-text>div>a {
    color: var(--inkFing-link) !important;
}

.card-text>div>a:focus {
    background-color: transparent !important;
    box-shadow: none !important;
}

.generaltable {
    color: var(--inkFing-primary) !important;
}

tbody tr:nth-of-type(2n) {
    background-color: transparent !important;
}

.generaltable th {
    background-color: var(--inkFing-background-200) !important;
}

.generaltable th,
.generaltable td {
    border-color: var(--inkFing-background-300) !important;
}

.generaltable tbody tr:hover,
.table-hover tbody tr:hover {
    color: var(--inkFing-primary) !important;
}

.custom-select {
    background-color: var(--inkFing-background-200) !important;
    color: var(--inkFing-primary) !important;
    border-color: var(--inkFing-background-300) !important;
}

.navbar-light .navbar-nav .show>.nav-link {
    color: var(--inkFing-primary) !important;
}

.navbar.fixed-top .nav-link {
    color: var(--inkFing-primary) !important;
}

.maincalendar .calendarmonth .clickable:hover {
    background-color: var(--inkFing-background-200) !important;
}

.tertiary-navigation.full-width-bottom-border {
    border-color: var(--inkFing-background-300) !important;
}

.nav-tabs:not(.more-nav),
.nav-pills {
    background-color: var(--inkFing-background-100) !important;
}

.tertiary-navigation .navitem-divider {
    background-color: var(--inkFing-background-300) !important;
}

a {
    color: var(--inkFing-link) !important;
}

a>i {
    color: var(--inkFing-primary) !important;
}

.input-group-text {
    border-color: var(--inkFing-background-300) !important;
}

.border-top {
    border-color: var(--inkFing-background-300) !important;
}

.btn.btn-icon {
    color: var(--inkFing-primary) !important;
}

.btn.btn-icon:hover,
.btn.btn-icon:focus {
    background-color: var(--inkFing-primary) !important;
    color: var(--inkFing-background-100) !important;
}

.btn-info:focus {
    color: var(--inkFing-primary) !important;
}

.btn-info {
    background-color: var(--inkFing-color-aqua) !important;
    color: var(--inkFing-background-100) !important;
    border-color: var(--inkFing-color-aqua) !important;
}

.btn-outline-info:focus,
.btn-outline-info:hover {
    color: var(--inkFing-primary) !important;
}

.btn-outline-info {
    border-color: var(--inkFing-color-aqua) !important;
    color: var(--inkFing-primary) !important;
}

.btn>img {
    background-color: var(--inkFing-primary);
}

.dropdown-divider {
    border-color: var(--inkFing-background-300) !important;
}

.navbar.fixed-top .divider {
    border-color: var(--inkFing-background-300) !important;
}

.bg-white {
    background-color: var(--inkFing-background-100) !important;
}

div.bg-white {
    background-color: var(--inkFing-background-100) !important;
}

.bg-light {
    background-color: var(--inkFing-background-200) !important;
}

div.bg-light {
    background-color: var(--inkFing-background-200) !important;
}

.border {
    border-color: var(--inkFing-background-300) !important;
}

div.border {
    border-color: var(--inkFing-background-300) !important;
}

.courseindex .courseindex-item.pageitem * {
    color: var(--inkFing-primary) !important;
}

.content-item-container.unread,
.forumpost.unread .row.header,
.path-course-view .unread,
span.unread {
    background-color: var(--inkFing-background-300) !important;
}

.content-item-container.unread:hover,
.forumpost.unread .row.header:hover,
.path-course-view .unread:hover,
span.unread:hover,
.content-item-container.unread:focus,
.forumpost.unread .row.header:focus,
.path-course-view .unread:focus,
span.unread:focus {
    background-color: var(--inkFing-background-100) !important;
}
.content-item-container.notification.unread .context-link div div i {
    color: var(--inkFing-primary) !important;
}

.content-item-container:hover .content-item-footer .timestamp {
    color: var(--inkFing-link) !important;
}

.page-item.active .page-link {
    background-color: var(--inkFing-link) !important;
    border-color: var(--inkFing-link) !important;
    color: var(--inkFing-primary) !important;
}

.page-link {
    background-color: var(--inkFing-background-200) !important;
    border-color: var(--inkFing-background-300) !important;
}

.path-grade-report-user .user-report-container {
    background-color: var(--inkFing-background-200) !important;
    border-color: var(--inkFing-background-300) !important;
}

.path-grade-report-user .user-grade th.category a.toggle-category i,
.grade-report-user .user-grade th.category a.toggle-category i {
    color: var(--inkFing-primary) !important;
}

.path-grade-report-user .user-grade th.category a.toggle-category:hover>span>i,
.grade-report-user .user-grade th.category a.toggle-category:hover>span>i,
.path-grade-report-user .user-grade th.category a.toggle-category:focus>span>i,
.grade-report-user .user-grade th.category a.toggle-category:focus>span>i {
    color: var(--inkFing-background-100) !important;
}

.path-grade-report-user .user-grade tbody tr:hover,
.grade-report-user .user-grade tbody tr:hover {
    background-color: var(--inkFing-background-100) !important;
}

.btn.dropdown-toggle {
    color: var(--inkFing-primary) !important;
}

.dropdown-item {
    color: var(--inkFing-primary) !important;
}

.form-autocomplete-suggestions {
    background-color: var(--inkFing-background-200) !important;
    border-color: var(--inkFing-background-300) !important;
}

.form-autocomplete-suggestions li {
    color: var(--inkFing-primary) !important;
}

.form-autocomplete-suggestions li[aria-selected="true"] {
    color: var(--inkFing-primary) !important;
}

.form-autocomplete-selection>span {
    background-color: transparent !important;
    color: var(--inkFing-primary) !important;
}

.path-grade-report-user .user-grade td {
    background-color: transparent !important;
}

.nav-item>a {
    background-color: var(--inkFing-background-200) !important;
}

.courseindex .courseindex-item:hover,
.courseindex .courseindex-item:focus {
    color: var(--inkFing-primary) !important;
}

a:focus {
    background-color: transparent !important;
    box-shadow: none !important;
}

a[style*="background-color: #ffffff"] {
    background-color: transparent !important;
}

*[style*="color: #222;"] {
    color: var(--inkFing-primary) !important;
}

div[style*="background: white;"] {
    background: var(--inkFing-background-200) !important;
}

.course_category_tree .category.with_children.collapsed>.info>.categoryname {
    /*Chevron right*/
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iI2ZmZmZmZiIgY2xhc3M9ImJpIGJpLWNoZXZyb24tcmlnaHQiIHZpZXdCb3g9IjAgMCAxNiAxNiI+CiAgPHBhdGggZmlsbC1ydWxlPSJldmVub2RkIiBkPSJNNC42NDYgMS42NDZhLjUuNSAwIDAgMSAuNzA4IDBsNiA2YS41LjUgMCAwIDEgMCAuNzA4bC02IDZhLjUuNSAwIDAgMS0uNzA4LS43MDhMMTAuMjkzIDggNC42NDYgMi4zNTRhLjUuNSAwIDAgMSAwLS43MDgiLz4KPC9zdmc+') !important;
}

.activity>.activity-item>.activity-grid>.activity-altcontent>div>div>div {
    background-color: transparent !important;
}

.course_category_tree .category.with_children>.info>.categoryname {
    /*Chevron down*/
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iI2ZmZmZmZiIgY2xhc3M9ImJpIGJpLWNoZXZyb24tZG93biIgdmlld0JveD0iMCAwIDE2IDE2Ij4KICA8cGF0aCBmaWxsLXJ1bGU9ImV2ZW5vZGQiIGQ9Ik0xLjY0NiA0LjY0NmEuNS41IDAgMCAxIC43MDggMEw4IDEwLjI5M2w1LjY0Ni01LjY0N2EuNS41IDAgMCAxIC43MDguNzA4bC02IDZhLjUuNSAwIDAgMS0uNzA4IDBsLTYtNmEuNS41IDAgMCAxIDAtLjcwOCIvPgo8L3N2Zz4=') !important;
}

.spinner {
    /*Arror Repeat*/
    content: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iI2ZmZmZmZiIgY2xhc3M9ImJpIGJpLWFycm93LXJlcGVhdCIgdmlld0JveD0iMCAwIDE2IDE2Ij4KICA8cGF0aCBkPSJNMTEuNTM0IDdoMy45MzJhLjI1LjI1IDAgMCAxIC4xOTIuNDFsLTEuOTY2IDIuMzZhLjI1LjI1IDAgMCAxLS4zODQgMGwtMS45NjYtMi4zNmEuMjUuMjUgMCAwIDEgLjE5Mi0uNDFtLTExIDJoMy45MzJhLjI1LjI1IDAgMCAwIC4xOTItLjQxTDIuNjkyIDYuMjNhLjI1LjI1IDAgMCAwLS4zODQgMEwuMzQyIDguNTlBLjI1LjI1IDAgMCAwIC41MzQgOSIvPgogIDxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgZD0iTTggM2MtMS41NTIgMC0yLjk0LjcwNy0zLjg1NyAxLjgxOGEuNS41IDAgMSAxLS43NzEtLjYzNkE2LjAwMiA2LjAwMiAwIDAgMSAxMy45MTcgN0gxMi45QTUgNSAwIDAgMCA4IDNNMy4xIDlhNS4wMDIgNS4wMDIgMCAwIDAgOC43NTcgMi4xODIuNS41IDAgMSAxIC43NzEuNjM2QTYuMDAyIDYuMDAyIDAgMCAxIDIuMDgzIDl6Ii8+Cjwvc3ZnPg==') !important;
    margin-left: .5rem;
}

.category {
    background-color: var(--inkFing-background-200) !important;
    border: 1px solid var(--inkFing-background-300) !important;
}

.message-app {
    background-color: var(--inkFing-background-100) !important;
}

.list-group-item {
    background-color: var(--inkFing-background-100) !important;
}

.dropdown-menu {
    color: var(--inkFing-primary) !important;
}

.reportbuilder-filters-sidebar {
    background-color: var(--inkFing-background-200) !important;
    background-image: none;
}

.alert-info {
    background-color: var(--inkFing-background-200) !important;
    border-color: var(--inkFing-background-300) !important;
    color: var(--inkFing-primary) !important;
}

.alert-success,
.environmenttable .ok {
    background-color: var(--inkFing-color-lime) !important;
    border-color: var(--inkFing-background-300) !important;
    color: var(--inkFing-primary) !important;
}

.moodle-dialogue-base .moodle-dialogue-wrap {
    background-color: var(--inkFing-background-100) !important;
    border-color: var(--inkFing-background-300) !important;
}

.moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd {
    border-color: var(--inkFing-background-300) !important;
}

.moodle-dialogue-base .moodle-dialogue-wrap .moodle-dialogue-hd h5 {
    color: var(--inkFing-primary) !important;
}

#quiz-timer-wrapper #quiz-timer {
    border-color: var(--inkFing-color-tiger) !important;
    background-color: var(--inkFing-background-100) !important;
}

.alert-success a,
.environmenttable .ok a {
    background-color: var(--inkFing-link) !important;
    color: var(--inkFing-background-100) !important;
}

.alert-warning,
.environmenttable .warn {
    background-color: var(--inkFing-color-yellow) !important;
    border-color: var(--inkFing-background-300) !important;
    color: var(--inkFing-primary) !important;
}

.alert-warning a,
.environmenttable .warn a {
    background-color: var(--inkFing-link) !important;
    color: var(--inkFing-background-100) !important;
}

.alert-danger,
.environmenttable .error {
    background-color: var(--inkFing-color-tiger) !important;
    border-color: var(--inkFing-background-300) !important;
    color: var(--inkFing-background-100) !important;
}

.alert-danger a,
.environmenttable .error a {
    background-color: var(--inkFing-link) !important;
    color: var(--inkFing-background-100) !important;
}

.moremenu .nav-tabs {
    background-color: transparent !important;
}

.secondary-navigation .navigation {
    background-color: var(--inkFing-background-200) !important;
    border-color: var(--inkFing-background-300) !important;
}

.moremenu .nav-link:hover,
.moremenu .nav-link:focus {
    background-color: var(--inkFing-background-300) !important;
}

.breadcrumb {
    background-color: var(--inkFing-background-200) !important;
}

.nav-tabs .nav-item.show .nav-link {
    background-color: var(--inkFing-background-300) !important;
}

.fp-pathbar .fp-path-folder {
    /*Folder*/
    background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iI2ZmZmZmZiIgY2xhc3M9ImJpIGJpLWZvbGRlciIgdmlld0JveD0iMCAwIDE2IDE2Ij4KICA8cGF0aCBkPSJNLjU0IDMuODcuNSAzYTIgMiAwIDAgMSAyLTJoMy42NzJhMiAyIDAgMCAxIDEuNDE0LjU4NmwuODI4LjgyOEEyIDIgMCAwIDAgOS44MjggM2gzLjk4MmEyIDIgMCAwIDEgMS45OTIgMi4xODFsLS42MzcgN0EyIDIgMCAwIDEgMTMuMTc0IDE0SDIuODI2YTIgMiAwIDAgMS0xLjk5MS0xLjgxOWwtLjYzNy03YTIgMiAwIDAgMSAuMzQyLTEuMzF6TTIuMTkgNGExIDEgMCAwIDAtLjk5NiAxLjA5bC42MzcgN2ExIDEgMCAwIDAgLjk5NS45MWgxMC4zNDhhMSAxIDAgMCAwIC45OTUtLjkxbC42MzctN0ExIDEgMCAwIDAgMTMuODEgNHptNC42OS0xLjcwN0ExIDEgMCAwIDAgNi4xNzIgMkgyLjVhMSAxIDAgMCAwLTEgLjk4MWwuMDA2LjEzOXEuMzIzLS4xMTkuNjg0LS4xMmg1LjM5NnoiLz4KPC9zdmc+');
}

.activity-dates {
    color: var(--inkFing-primary) !important;
    opacity: 80%;
}

.activity {
    border-color: var(--inkFing-background-300) !important;
}

.activity-item .activity-altcontent.activity-description {
    border-color: var(--inkFing-background-300) !important;
}

button[data-action="toggle-manual-completion"] {
    background-color: var(--inkFing-background-200) !important;
    border-color: var(--inkFing-background-300) !important;
    color: var(--inkFing-primary) !important;
}

.nav-tabs .nav-link.active {
    background-color: var(--inkFing-background-200) !important;
    border-color: var(--inkFing-background-300) !important;
    color: var(--inkFing-primary) !important;
}

.nav-tabs .nav-link {
    border-color: var(--inkFing-background-300) !important;
}

.nav-tabs {
    border-bottom: 1px solid var(--inkFing-background-300) !important;
}

.que .outcome,
.que .comment {
    color: var(--inkFing-primary) !important;
    background-color: var(--inkFing-color-violet) !important;
    border-color: var(--inkFing-background-300) !important;
}

.path-mod-quiz #mod_quiz_navblock .qnbutton.correct,
.path-mod-quiz #mod_quiz_navblock .qnbutton.correct .trafficlight,
.path-mod-quiz #mod_quiz_navblock .qnbutton .trafficlight {
    background-color: var(--inkFing-background-100) !important;
}

.path-mod-quiz #mod_quiz_navblock .qnbutton.incorrect .thispageholder {
    border-color: var(--inkFing-color-tiger) !important;
}

/*Target banners etc*/
div[style="background-color: #d6feff;"] {
    background-color: var(--inkFing-link);
}

/* On screens larger than x always show search bar*/
@media screen and (min-width: 1200px) {
    a[data-action="closesearch"] {
        display: none !important;
    }

    a[data-action="opensearch"] {
        display: none !important;
    }

    #searchform-navbar {
        display: flex !important;
    }

    .simplesearchform {
        display: flex !important;
        align-items: center !important;
    }

    html.yui3-js-enabled body#page-course-index-category.format-site.limitedwidth.path-course.path-course-index.gecko.dir-ltr.lang-es.yui-skin-sam.yui3-skin-sam.eva-fing-edu-uy.pagelayout-coursecategory.course-1.context-114.category-102.theme.uses-drawers.jsenabled div#page-wrapper.d-print-block nav.navbar.fixed-top.navbar-light.bg-white.navbar-expand div#usernavigation.navbar-nav.ml-auto div#searchinput-navbar-69aa042078b0b69aa04206d8136.simplesearchform a.btn.btn-open.rounded-0.nav-link {
        display: none !important;
    }

    .simplesearchform .collapse.show {
        position: relative !important;
        width: auto !important;
    }
}

/* For Message Boxes */

div.tox[role="application"] {
    border: 2px solid var(--inkFing-background-200) !important;

    div.tox-editor-container {

        /* This changes the header of the editor*/
        div.tox-editor-header {
            background-color: var(--inkFing-background-200);

            div {
                background-color: var(--inkFing-background-200);
            }

            button {
                background-color: var(--inkFing-background-200) !important;

                svg {
                    fill: var(--inkFing-primary);

                    image {
                        filter: invert(100%);
                    }
                }

                span {
                    color: var(--inkFing-primary);
                }

                &.tox-tbtn--enabled {
                    svg {
                        fill: var(--inkFing-color-aqua) !important
                    }
                }
            }
        }
    }

    div.tox-edit-area::before {
        border: 2px solid var(--inkFing-color-aqua);
    }

    div.tox-statusbar {
        background-color: var(--inkFing-background-200);
        border: none;

        div.tox-statusbar__path-item,
        div.tox-statusbar__path-divider {
            color: var(--inkFing-primary);
        }

        button.tox-statusbar__wordcount,
        button.tox-statusbar__wordcount:hover,
        button.tox-statusbar__wordcount:active {
            color: var(--inkFing-primary) !important;
        }

        span.tox-statusbar__branding {
            a {
                color: var(--inkFing-color-aqua) !important;

                svg {
                    fill: var(--inkFing-color-aqua) !important;
                }
            }
        }
    }
}

/* For menus */
div.tox-tiered-menu {
    div.tox-menu {
        background-color: var(--inkFing-background-100);

        svg {
            fill: var(--inkFing-primary);
        }

        image {
            filter: invert(100%);
        }

        div.tox-collection__item-label {
            color: var(--inkFing-primary);
        }

        div.tox-collection__item-accessory {
            color: var(--inkFing-secondary);
        }
    }

    div.tox-menu-nav__js.tox-collection__item.tox-collection__item--enabled {
        background-color: var(--inkFing-background-100);
        color: var(--inkFing-primary);
    }

    div.tox-insert-table-picker {
        background-color: var(--inkFing-background-100);

        span.tox-insert-table-picker__label {
            color: var(--inkFing-primary);
        }
    }
}

/* For the content */
iframe#id_message_ifr body {
    background-color: var(--inkFing-background-200) !important;
    color: var(--inkFing-primary) !important;
}

/* End of Message Boxes */