/* Here lies the main colors InkFing uses through all the css files, try to avoid repeating color codes, properties, etc. 
Instead define a property/variable in root to be used across everywhere */
:root {
    --inkFing-background-code: #050505;
    --inkFing-background-100: #111213;
    --inkFing-background-200: #1e1e1e;
    --inkFing-background-300: #2a2a2a;
    --inkFing-link: #3388ff;
    --inkFing-primary: #eaeaea;
    --inkFing-secondary: #a0a0a0;
    --inkFing-color-yellow: #c29200;
    --inkFing-color-lime: #6b9e00;
    --inkFing-color-cyan: #00828a;
    --inkFing-color-magenta: #c200c2;
    --inkFing-color-sunset: #d35400;
    --inkFing-color-neon: #1db954;
    --inkFing-color-violet: #7d49b8;
    --inkFing-color-sky: #0077b6;
    --inkFing-color-pink: #d81b60;
    --inkFing-color-aqua: #008b8b;
    --inkFing-color-tiger: #e65100;
    --inkFing-color-indigo: #4a148c;
    --inkFing-color-blue: #2196f3;
    --inkFing-color-error: #e53935;
    --inkFing-radius: 4px;
    --inkFing-background-white: #ffffff;
}
