/* Here lies the main colors InkFing uses through all the css files, try to avoid repeating color codes, properties, etc. 
Instead define a property/variable in root to be used across everywhere */
:root {
    --inkFing-background-code: #050505;
    --inkFing-background-100: #111213;
    --inkFing-background-200: #1e1e1e;
    --inkFing-background-300: #2a2a2a;
    --inkFing-link: #3388ff;
    --inkFing-primary: #eaeaea;
    --inkFing-secondary: #a0a0a0;
    --inkFing-color-yellow: #C29200;
    --inkFing-color-lime: #6B9E00;
    --inkFing-color-cyan: #00828A;
    --inkFing-color-magenta: #C200C2;
    --inkFing-color-sunset: #D35400;
    --inkFing-color-neon: #1DB954;
    --inkFing-color-violet: #7D49B8;
    --inkFing-color-sky: #0077B6;
    --inkFing-color-pink: #D81B60;
    --inkFing-color-aqua: #008B8B;
    --inkFing-color-tiger: #E65100;
    --inkFing-color-indigo: #4A148C;
    --inkFing-radius: 4px;
    --inkFing-background-white: #FFFFFF;
}